.card {
  position: relative;
  margin: 0 auto;
  padding: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  overflow: hidden;
  background: rgba(240,220,200,0.55);
}

.card-default {
  width: 70%;
  max-width: 1200px;
}

.card.extra-pad {
  padding: 1rem;
} 
