.carousel-swiper {
    width: 100%;
    padding: 50px 10px;
    position: relative;
}
  
.carousel-swiper .swiper-slide {
    background-position: center;
    background-size: contain;
    width: max-content;
    height: max-content;
    z-index: 1;
}
.carousel-swiper .swiper-pagination-bullet {
    background: #ffffff;
    opacity: 0.3;
}
.carousel-swiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #ffffff;
    opacity: 1;
}

@media screen and (min-width: 1200px) {
    .carousel-swiper {
        width: 1160px;
        margin: 10px auto;
    }
}