@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  background: black url('../src/assets/background.jpg') repeat-y center top;
  background-size: 1920px 1080px;
}

main {
  left: 0;
  right: 0;
  margin: 150px auto;
}

h1, h2 {
  text-transform: uppercase;
}

.flex {
  display: flex;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slide-in-left-enter {
  transform: translateX(-100%);
}

.slide-in-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms;
}

.slide-in-left-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-left-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 200ms;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: partyFont;
  src: url(assets/Party_Vibes.otf);
}
