.place-details-container {
    max-width: 65rem;
    margin: 1rem auto;
    padding: 10px;
}
.place-details-main .slider-image-container {
    height: 50vh;
}
.place-details-main .slider-image-container img {
    height: 400px;
    margin: 0 auto;
    width: auto;
}
.place-details-container .gallery-slider {
    background-color: rgba(0,0,0,0.3);
}

.place-details-container .gallery-slider .slider-button{
    top: 36%;
}

.comments-list .avatar{
    width: 50px;
}
.comments-list .avatar img{
    height: 50px;
}
.comments-list .user-details{
    width: calc(100% - 50px);
    margin-left: 1rem;
}
.comments-list .comment-actions button{
    margin-right: 1rem;
}

.comments-list .reply-list{
    margin-top: 1rem;
    padding-left: calc(50px + 1rem);
}
.comments-list .reply-list li {
    margin-bottom: 1rem;
}
.comments-list .reply-section {
    margin-left: calc(50px + 1rem);
}
.comments-list .reply-section textarea{
    width: 100%;
}