section {
  left: 0;
  right: 0;
  margin: 0 1rem;
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  max-width: 1600px;
  min-height: 100vh;
  transition: all 0.3s ease-in;
}
section .main-block {
  padding: 0;
  width: 100%;
  height: max-content;
  align-self: center;
}

section .main-content {
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem;
}

section h1 {
  font-family: partyFont;
  font-size: 40px;
  text-align: center;
  color: azure;
}

section.Head-gallery {
  margin: -150px auto 60px;
  max-width: 2560px;
  width: 100%;
}
section.Head-gallery .slider-image-container {
  height: 100vh;
}
section.Head-gallery .slider-dots {
  bottom: 3rem; 
}

section.About p {
  color: azure;
  width: 600px;
  text-align: justify;
}
section.About .image-content {
  width: 300px;
  height: 300px;
  border: 1px solid black;
  margin: 1rem 4rem;
  background: url(../../assets/CholBro_black.png) no-repeat top/contain;
}

.caption {
  font-family: partyFont;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: fit-content;
  height: fit-content;
  font-size: 40px;
  white-space: pre-wrap;
  overflow: hidden;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(0,0,0,0.5);
  color: azure;
}
.caption .button {
  font-size: 22px;
}

.testimonial-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.testimonial-card {
  width: 400px;
  margin: 10px;
  position: relative;
  background-image: linear-gradient(135deg, #ffffff 50%, rgb(160, 117, 65)); /* 135deg gives diagonal */
  border-radius: 10px;
  padding: 1.2rem;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  color: #333;
  display: flex;
  flex-direction: column;
}
.testimonial-card .place-image img {
  width: 100%;
  object-fit: cover;
  height: 200px;
}

.testimonial-comment {
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

blockquote {
  font-style: italic;
  color: #555;
  font-size: 1.2rem;
  margin-left: 0;
}
.user {
  display: flex;
  align-items: center;
  font-weight: bold;
}
.user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 0.8rem;
}
.read-more-btn {
  display: inline-block;
  padding: 6px 12px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  cursor: pointer;
}

.testimonial-bottom {
  margin-top: auto;
  justify-content: space-between;
}

.scroll-indicator {
  position: absolute;
  width: 60px;
  height: 60px;
  background: url(../../assets/down-arrow.png) no-repeat center top/contain;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 10rem;
  animation: bounce 2s infinite;
  z-index: 10;
}

.scroll-indicator.left {
  position: relative;
  width: 60px;
  height: 60px;
  background: url(../../assets/left-arrow.png) no-repeat center top/contain;
  transform: rotate(90deg);
  left: 0;
  right: 0;
  top: 0;
  margin: 0 auto;
  animation: bounce-left 2s infinite;
  z-index: 10;
}

section.community .social-icons img {
  width: 50px;
  height: 50px;
  margin: 1.5rem;
  filter: brightness(90%);
  cursor: pointer;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(30px);
  }
}
@keyframes bounce-left {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(30px);
  }
}

@media screen and (min-width: 768px) {
  section.community .social-icons img {
    width: 80px;
    height: 80px;
    margin: 3rem;
  }
}

@media screen and (min-width: 992px) {
  section {
    margin: 0 auto;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1320px) {
  section {
    margin: 0 auto;
    margin-bottom: 60px;
  }
}
