.user-profile-container {
    width: 60%;
    margin: 0 auto; 
}
.user-profile .user-picture {
    position: relative;
    width: 200px;
    margin-right: 2rem;
}
.user-profile .avatar img{
    width: 200px;
    height: 200px;
}
.user-profile .user-data {
    padding: 1rem;
}
.user-places {
    flex-wrap: wrap;
    justify-content: center;
}
.user-places .place-card {
    width: 200px;
    height: 270px;
    margin: 20px;
    transition: transform .2s ease-in-out;
}
.user-places .place-card a {
    text-decoration: none;
    color: black;
    font-family: partyFont;
    font-size: 18px;
}
.user-places .place-card:hover {
    transform: scale(1.1);
}
.user-places .place-card .avatar {
    height: 85%;
}
.user-places .place-card .avatar img {
    border-radius: 0;
}
.user-places .place-card .place-data {
    text-align: center;
    margin-top: 10px;
}